@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

body {
  position: relative;
  padding-top: 76px;
}

@media (max-width: 1080px) {
  .carousel {
    height: 30vh;
    overflow: hidden;
  }

  .carousel-caption {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 2px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
  }

  .carousel-caption img {
    max-width: 30%;
    opacity: 1;
  }
}

@media (min-width: 1081px) {
  .carousel {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .carousel-caption img {
    max-width: 60%;
    opacity: 0.99;
  }
}

.navbar {
  background-color: #000066;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #CC0000;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2.5px margin-left: 2.5px;
  width: 100%;
}

.carousel {
  background-color: #000066;
  max-height: 100vh;
}

.carousel-item {
  opacity: 0.9;
}

#groupphoto {
  min-height: 250px;
  background: url(img/m17.jpg) no-repeat left center fixed;
  background-size: cover;
}

#home {
  border-bottom: 5px solid #CC0000;
}

#containerMain {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
  background: url(img/m1.jpg) no-repeat center fixed;
  background-size: cover;
}

#footer {
  background-color: #000066;
  color: white;
}

#msgdiv {
  position:absolute;
  margin: auto;
  width: 100%;
  top:0;
  z-index: 10000;
  text-align: center;
}
